# Ignore everything
*

# Don't ignore git settings
!*.gitignore
!*.gitmodules
!*.gitattributes

# Don't ignore special files
!*.md
!*.rst
!*.in
!LICENSE

# Don't ignore makefiles
!Makefile

# Don't ignore subdirectories
!*/

# Don't ignore python
!*.py

# Don't ignore requirements.txt
!requirements.txt

# Don't ignore select scripts
!setup/paths.sh

# Don't build config directory
!config

# Don't CI directory
!.ci
