# Ignore everything
*

# Don't ignore git settings
!*.gitignore
!*.gitattributes

# Don't ignore special files
!*.md
!*.rst
!LICENSE

# Don't ignore makefiles
!Makefile

# Don't ignore subdirectories
!*/

# Don't ignore python
!*.py

# Don't ignore requirements.txt
!requirements.txt

#Don't ignore setup
!setup/paths.sh
